.bg-gray {
  background-color: gray;
  border: 1px solid black;
}
#top-menu {
  height: 50px;
}
#menu {
  height: 99px;
}
#breadcrumb-top {
  height: 30px;
}

body {
  margin: 0;
  font-family: "Droid Sans","ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Roboto, Verdana, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

/*商品・サービス*/

.h1Tit {
  font-size: 2.5em;
  text-align: center;
  margin: 0;
}

.description-child h2 {
  font-size: 1.84em;
  font-weight: 200;
  margin: 0 0 25px 0;
}

.description-child p {
  margin: 0;
  width: 300px;
  font-size: 14px;
  line-height: 1.7;
}

.article01 {
  height: 480px;
  padding: 0 30px 0 30px;
}

.description {
  height: 480px;
  width: 500px;
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
}

.article01 img {
  width: 714.5px;
  height: 100%;
}

.description-child {
  width: 300px;
  margin: auto;
  margin-top: 25%;
}

.fontSS {
  font-size: 0.9em;
}

.btn-wrap a {
  background: #006 url(/images/icon_arrow-right_03.png) no-repeat 10px 50%;
  color: #ffffff;
  width: 240px;
  height: 23px;
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  padding: 16px 23px 14px 37px;
  border-radius: 2px;
}

.btn-wrap a:hover {
  color: #006;
  background-color: #aeb8de;
  background-image: url(/images/icon_arrow-right_02.png);
  background-repeat: no-repeat;
  background-position: 10px 50%;
}

.lyt-retail-box-btn {
  margin: 42px 30px;
}

.btnRound a{
  text-decoration: none;
  display: block;
  height: 23px;
  width: 208px;
  margin: 0 auto;
  text-align: center;
  padding: 16px 23px 14px 37px;
  background: #006 url(/images/icon_arrow-right_03.png) no-repeat 10px 50%;
  color: #ffffff;
  border-radius: 2px;
}

.btnRound a:hover {
  color: #006;
  background: #aeb8de url(/images/icon_arrow-right_02.png) no-repeat 10px 50%;
}

/*headder top はじまり*/

#top-menu nav ul {
  list-style: none;
  display: flex;
  margin: 0;
}

#top-menu nav {
  display: flex;
  width: 1220px;
  padding: 0 30px 0 30px;
}

#top-menu {
  background-color: #006;
  font-size: 14px;
}

#top-menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding-top: 9px;
  height: 41px;
}

#top-menu  a::before {
  background-image: url(/images/icon_arrow-right_03.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 17px;
  height: 12px;
  content: '';
  vertical-align: middle;
}

#top-menu .PC-customers a:hover {
  background-color: white;
  color: #006;
}

#top-menu nav ul li {
  text-align: center;
  background-color: #006;
  line-height: 32px;
  
}

.PC-until li {
  padding: 0 20px;
  display: flex;
  margin: 0;
}

.PC-until {
  padding: 0;
}

.PC-customers a {
  width: 160px;
}

.PC-customers {
  height: 50px;
  padding: 0;
}

#top-menu nav ul li.is-current a{
  color: #006;
  background-color: #ffffff;
}

#top-menu nav ul li.is-current a::before {
  background-image: url(/images/icon_arrow-right_02.png);
}

/*headder top 終わり*/

.headerPC-menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 30px 0 0;
}
.headerPC-menu li {
  width: 133px;
  text-align: center;
  display: table-cell;
  vertical-align: bottom;
  height: 84px;
  font-size: 14px;
  padding-top: 16px;
}
#menu {
  display: flex;
  justify-content: space-between;
  color: #006;
  border-bottom: 1px solid #c7c2d5;
}
.headerPC-menu li img {
  height: 22.5%;
  width: auto;
  display: block;
  margin: 8px auto;
}
.header-logo img {
  height: 32px;
  width: 237px;
  padding: 37px 57px 31px 26px;
  display: block;
  margin-left: 30px;
}

/*breadcrumb-top*/

#breadcrumb-top ul {
  list-style: none;
  display: flex;
  font-size: 14px;
  padding-left: 30px;
  margin: 20px 0 10px 0;
}

#breadcrumb-top a {
  color: #1d50a2;
}

/*box-carousel*/
.box-carousel {
  overflow: hidden;
  width: 1220px;
  margin: 0 auto;
}

.slides{
  display: flex;
}

.slide {
  transition: 0.6s;
}
/*info*/
.info ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
  height: 231px;
  background-color: #faebe8;
  margin: 0;
}

.info li {
  border-bottom: 1px solid #c7c2d5;
  padding: 21px 30px;
}

.info p {
  margin: 0;
  display: inline-block;
  color: #ca3a1c;
  vertical-align: middle;
}

.info .important .important-text {
  width: 172px;
  background: #ca3a1c url(/images/icon_important_info_01.png) no-repeat 15px 50%;
  color: #ffffff;
  text-align: center;
  margin-right: 28px;
  padding: 5px 0;
  border-radius: 6px;
}

.textInner-03 {
  word-break: break-all;
  width: 1008px;
}

.summary {
  text-decoration: underline #ca3a1c;
}

/*navリンク*/

.lyt-retail-top-01 {
  height: 234px;
  width: 279.5px;
  border-left: 1px #cfcabf solid;
  padding: 6px 12px 0 12px;
}

.flex {
  display: flex;
}

.lyt-retail-top-01 img {
  display: block;
}

.lyt-retail-top-01 .lyt-retail-top-01-img01,.lyt-retail-top-01-img03{
  margin: 20px auto 0 auto;
}

.lyt-retail-top-01 .lyt-retail-top-01-img02 {
  margin: 27px auto 0 auto;
}

.lyt-retail-top-01 .lyt-retail-top-01-img04 {
  margin: 8px auto 0 auto;
}

.lyt-retail-top-01 .lyt-retail-top-01-text {
  text-align: center;
  font-weight: 700;
  color: #000166;
  text-decoration: underline;
}

.text-margin01 {
  margin: 18px 0 0 0;
}

.text-margin02 {
  margin: 28px 0 0 0;
}

.text-margin03 {
  margin: 25px 0 0 0;
}

.lyt-retail-top-01 .btn-lyt-retail-top-text {
  text-align: center;
  background: #006 url(/images/icon_arrow-right_03.png) no-repeat 10px 50%;
  color: #ffffff;
  border-radius: 2px;
  font-size: 0.96em;

}

.padding-bank {
  padding: 16px 11.5px 14px 11.5px;
}

.padding-other {
  padding: 27.5px 11.5px 25.5px 11.5px;
}

.btn-margin01 {
  margin: 20px 0 0 0;
}

.btn-margin02 {
  margin: 33px 0 0 0;
}

.btn-margin03 {
  margin: 31px 0 0 0;
}

.btn-margin04 {
  margin: 32px 0 0 0;
}

.nav-services {
  padding: 0 30px;
  margin-top: 40px;
}

.nav-services a {
  text-decoration: none;
}

.nav-services a:hover .btn-lyt-retail-top-text {
  background-color: #aeb8de;
  color: #006;
}

.nav-services a:hover .lyt-retail-top-01-text {
  text-decoration: none;
}

.border-right {
  border-right: 1px #cfcabf solid;
}

.nav-services2 {
  margin: 40px 0 120px 0;
  padding: 0 30px;
  justify-content: center;
  align-items: center;
}

.lyt-retail-top-02 {
  vertical-align: middle;
}


.lyt-retail-top-02-img01 {
  display: block;
  height: 51px;
  width: 50px;
}

.lyt-retail-top-02-img02 {
  display: block;
  height: 42px;
  width: 45px;
}

.lyt-retail-top-02 p {
  margin: auto;
  font-weight: 700;
  color: #000166;
  height: 24px;
  text-align: right;
  background: url(/images/icon_arrow-right_01.png) no-repeat 8px 50%;
  background-size: 6px ;
}

.p-width01 {
  width: 164px;
}

.p-width02 {
  width: 216px;
}

.padding-right {
  padding-right: 40px;
}

.padding-left {
  padding-left: 40px;
}
/*????????*/
.nav-services2 a:hover {
  text-decoration: none;
}

/*section-box*/

.section-box {
  width: 1220px;
  margin: 80px 0 40px 0;
  padding: 0 30px;
}

.listNav {
  list-style: none;
  padding: 33.5px 20px;
  border: 1px solid #d6d6d6;
  margin: 0;
}

.listNav li {
  display: inline-block;
  margin-right: 40px;
  padding-left: 14px;
  background: url(/images/icon_arrow-right_04.png) no-repeat 0;
  font-size: 14px;
  color: #1d50a2;
}

.section-box .listNav a:hover {
  text-decoration: none;
}

/*floating-menu*/
.floating-menu {
  margin: 0;
  padding: 0;
}

.floating-menu-item {
  position: absolute;
  white-space: nowrap;
}

.floating-menu-wrapper li {
  list-style: none;
}

.floating-menu-wrapper a {
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  display: inline-block;
  padding-right: 18px;
}

.floating-menu-wrapper {
  position: fixed;
  top: 50%;
  right: 0;
  height: 100px;
}

.floating-menu-chat a {
  background-color: #006;
}

.floating-menu-help a{
  background-color: #0068b7;
}

.floating-menu span {
  padding-left: 18px;
  background: url(/images/icon_arrow-right_03.png) no-repeat 0 50%;
}

.floating-menu-chat a:before {
  background: url(/images/icon_balloon_01.png) no-repeat 50% 50%;
}

.floating-menu-help a:before {
  background: url(/images/icon_question_01.png) no-repeat 50% 50%;
}

.floating-menu a:before {
  display: inline-block;
  width: 50px;
  height: 50px;
  content: '';
  vertical-align: middle;
}
.floating-menu-chat {
  max-width: 50px;
  transition: max-width .36s ease .12s;
  right: 0;
}

.floating-menu-help {
  top: 50%;
  right: 0;
  max-width: 50px;
  transition: max-width .36s ease .12s;
}

.floating-menu-chat:hover {
  max-width: 400px;
}

.floating-menu-help:hover{
  max-width: 400px;
}

.floating-menu-chat a:hover {
  color: #006;
  background-color: #aeb8de;
}

.floating-menu-chat a:hover span {
  background-image: url(/images/icon_arrow-right_02.png)
}

.floating-menu-chat a:hover:before {
  background-image: url(/images/icon_balloon_02.png);
}

.floating-menu-help a:hover {
  background-color: #329dd7;
}
/*tabs*/
/*タブ切り替え全体のスタイル*/
.tabs {
  padding-bottom: 40px;
  background-color: #fff;
  width: 1220px;
  margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  box-sizing: border-box;
  border-left: 1px solid #626262;
  height: 50px;
  background-color: #8d8d8d;
  line-height: 50px;
  font-size: 15.4px;
  color: #ffffff;
  display: block;
  float: left;
  text-align: center;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#goods-service:checked ~ #goods-service_content,
#notice:checked ~ #notice_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #1d50a2;
  color: #fff;
}

.tabs label.tab_item:nth-of-type(1) {
  border-left: 0;
}
/*画面中央寄せ*/
.wraper {
  width: 1280px;
  margin: 0 auto;
}

/* carousel-indicator */
.wraper .carousel-indicator-item {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  cursor: pointer;
  transition: .2s;
  vertical-align: top;
  border-radius: 50%;
  background: #c7c2b5;
}

.wraper .carousel-indicator ul{
  font-size: 0;
  text-align: center;
  list-style: none;
  padding: 0;
}

.wraper .carousel-indicator {
  margin: 30px 0 50px 0;
}

.wraper .is-current {
  background: #006;
}

/* carousel-controller */
.wraper .carousel-controller {
  position: absolute;
  top: 690px;
  left: 30px;
  width: 61px;
}

.wraper .carousel-controller .carousel-controller-button img  {
  width: 61px;
  height: 23.45px;
}

.carousel-controller-button .carousel-controller-stop{
  display: none;
}

.carousel-controller-button .carousel-controller-play{
  display: block;
}

.carousel-controller-button.is-play .carousel-controller-stop{
  display: block;
}

.carousel-controller-button.is-play .carousel-controller-play{
  display: none;
}

.carousel-controller-button{
  display: block;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: .2s opacity; 
  border: none;
  outline: none;
  background: none;
}

#line {
  width:1220px; /* 横幅100% */
  height:5px;
  margin:-7px auto 0;
  background:#ddd;
}

/* ラインのアニメーション時の色と動き */
.expand {
  width:1220px;
  height:5px;
  margin:0;
  background:#006;
  position:absolute;
  animation:fullexpand 5s linear;
  animation-iteration-count:infinite;
}

/* キーフレームを使った横幅100%のローディングの始まりと終わりの変化 */
@keyframes fullexpand {
  0%  { width:0px;}
  100%{ width:1220px;}
}